nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a { 
    display: block; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li {
    float: left;
    clear: right;
    list-style-type: none;
}
.info {
    display: inline;
    padding: 50px 50px;
}
.contacts {
    border-bottom: 1px solid lavenderblush;
}
i {
    padding: 14px 16px;
}
i:hover, a:hover {
    color: #ff5811;
    cursor: pointer;
}
a {
    color: black;
}
.social-menu {
    float: right;
    clear: left;
}
.nav-bar-tools {
    float: right;
    clear: none;
    padding: 14px 0px 16px;
}
.logo {
    color: #ff5811;
    float: left;
    clear: right;
    padding: 14px 16px;
    margin: 16px;
    font-weight: bold;
    cursor: pointer;
}
.title {
    color: #ff5811;
}
.header {
    padding: 150px 200px;
    background-image: url("");
}
h3 {
    color: gray;
}
h2 {
    display: inline;
    padding-top: 50px;
}
.order-now {
    direction: none;
    cursor: pointer;
    background: white;
    border: none;
    padding: 0px;
}
.order-now:hover {
    background: #ff5811;
}
.order-now:active {
    background: yellow;
}